@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.header-mobile {
    display: none;
}

.login {
    background-color: #DA291C;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login>img {
    height: 1rem;
    justify-self: flex-end;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.login span {
    font-weight: 700;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
}

nav img {
    height: 3rem;
    align-self: flex-start;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DA291C;
    margin-bottom: 0;
}

.alert .text,
.text {
    text-align: center;
    color: #fff;
    padding: 0 5rem;
}

.alert a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 1.5rem;
    border: 2px solid #fff;
    border-radius: 5px;
}


.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    padding-top: 8rem;
    padding-left: 3rem;
}

.hero h4 {
    background-color: #fff;
    width: auto;
    font-weight: 700;
    font-size: 40px;
    width: 200px;
    padding: 5px;
}

.rows {
    display: flex;
    flex-direction: column;
}

.rows h1,
p,
a {
    text-align: center;
}

.rows .link {
    display: flex;
    align-self: center;
}

.rows .link>a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #DA291C;
    color: #fff;
    padding: 10px 25px;
    font-weight: 700;
    font-size: 1.5rem;
    border: 2px solid #fff;
    border-radius: 5px;
    align-self: center;
}

.box {
    background: rgb(240, 236, 236);
    padding: 1rem;
    margin: 0 1rem;
}

.rows h1 {
    font-weight: 700;
    padding: 0px 2rem;
    margin: 0px 2rem;
}

.items {
    display: flex;
    gap: 1rem;
    margin: 0px 2rem;
}

small {
    text-align: center;
}

.items img {
    width: 4rem;
    height: 3rem;
    margin-right: 1.5rem;
}

.items h4 {
    font-weight: 600;
    margin-top: 1rem;
}

h1 {
    text-align: center;
}

footer {
    background-color: #4A4F53;
    padding: 2rem;
}

footer a {
    text-decoration: none;
    color: #C9CBCC;
}

.ftext {
    color: #C9CBCC;
    text-align: left;
}

.fdonate {
    text-transform: uppercase;
    background-color: #DA291C;
    columns: #fff !important;
    padding: 10px 25px;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
    align-self: center;
}

.imgs {
    display: flex;
    justify-content: space-between;
}

.flink {
   display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
}

.flink a {
    color: #838585;
}

.small {
    color: #838585;
    text-align: left;
}

.contact {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact img {
    height: 2rem;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 5px;
}

.menu-icon,
.donate-header,
.menu-dv {
    display: none;
}

main {
    background-image: url(../img/donate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

@media (max-width: 767px) {
    .header {
        background-color: #f3f2f2;
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
    }

    .login {
        display: none;
    }

    .menu-icon {
        display: block;
        height: 1.5rem;
    }

    .menu {
        display: flex;
        justify-content: space-between;
    }

    .menu ul {
        display: none;
    }

    .menu-dv {
        display: block;
        cursor: pointer;
    }

    .menu-dv small {
        font-size: 10px !important;
    }

    .donate {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .donate>a {
        text-transform: uppercase;
        text-decoration: none;
        background-color: #DA291C;
        color: #fff;
        padding: 10px 25px;
        font-weight: 500;
        font-size: 1rem;
        border-radius: 5px;
        margin: 1rem;
    }

    .alert .text,
    .text {
        text-align: center;
        color: #fff;
        padding: 0 1rem;
    }

    .alert a {
        padding: 10px 10px;
        font-weight: 400;
        font-size: 1rem;
        border: 1px solid #fff;
        border-radius: 5px;
    }

    .hero {
        background-image: url(../img/hero.jpg);
        /* background-repeat: no-repeat; */
        background-size: contain;
        height: 40vh;
        padding-top: 2rem;
        padding-left: 2rem;
        margin-bottom: -40%;
    }

    .hero h4 {
        width: auto;
        font-weight: 700;
        font-size: 25px;
        width: 110px;
    }
}